
  
  body {
    background-color: rgb(28, 27, 27);
    font-family: "Poppins", sans-serif;
    position:relative;
    width: 100%;
    display: inline-block;
    flex-direction: column;
    margin-bottom: 70px;

  }

  #site {
    position: relative;
    display: block;
}
  nav {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;

  
  }
  .nav-link {
    color: rgba(240, 157, 4, 0.96) !important;
    }

  nav ul {
    padding: 0;
    text-align: center;
    margin: auto;
    font-size: 27px;
    margin-left: 260px;
  }

  nav li {
    margin: 5px;
    list-style: none;
    line-height: 22px;
    font-weight: 600;
}

#header #logoWrapper #logoImage {
    height: 330px;
    width:380px;
    line-height: 1;
    margin: 80px auto;
 
}
#logoImage {
    position: center;
    padding-top: 0.6em;
  
}
.btn {
    text-align: center;
    width: fit-content;
    display: block;
    margin: 80px auto;
    margin-top: -60px;
}

.btn-branding {

    border-radius: 4px;
    color: white;
    font-size: 18px;
    padding: 15px 20px;
  }
  
  .btn-branding-outline {
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 18px;
    border: solid 2px white;
    background-color: transparent;
    margin-top: -200px;
    margin-bottom: 75px;
  }

 .img-fluid-picture {
    margin: 0 auto;
    position: center;
    height: 190px;
    width:470px;
    line-height: 1;
 }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
    width: 100%;

  }

  img {
    max-width: 100%;
    height: 20.7em;
    width: 20.5em;
}


.image {
    display: inline-block;
  width: 23em;

  }

h2 {
    color: black;
    font-weight: 700px;
    font-size: 27px;
    line-height: 1;
    margin-bottom: 0.7rem;
  display: block;
    text-align: center;
    
  
}

li {
    display: inline;
    list-style-type: disc;
    
    color: white;
    font-size: 20px; 
    text-align: center;
}
.col {
    text-align: center;
    margin-left: -5px;
    display: inline-block;
}

ul.columns>li:before {
    content: "•";
    position: relative;
    font-size: 1.3em;
    font-weight: bold;
    top: 1px;
    color: white;
    margin: 4px;
    
  }

.description {
    width: 100%;
    border-width:2px;
    border-style:solid;
    border-radius: 5px;
    background-color: rgb(119, 117, 117);
    padding: 9px;
    margin-top: -55px;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    height: auto;
  
}
  


  input,
  textarea {
    font-family: "Poppins", sans-serif;
  }
  
 
  
  .form {
    max-height: 100%;
    max-width:100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 5px;
  }
  
  .contact-form {
    background-color: rgb(119, 117, 117);
    position: relative;
    line-height: 1.5px;
  }
  
  form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
    margin-bottom: -22px;
  }
  div.contact-info::before {
    content: none;
 }
  
  h3 {
    color: black;
    font-weight: 500;
    font-size: 27px;
    line-height: 1;
    margin-bottom: 0.7rem;
  }
  
  .input-container {
    position: relative;
    margin: 1rem 0;
  }
  
  .input {
    width: 100%;
    outline: none;
    border: 2px solid white;
    background: none;
    padding: 0.6rem 1.2rem;
    color: black !important;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
  }
  ::-webkit-input-placeholder {
    color:black;
}

::-moz-placeholder {
    color: black;
}

::-ms-placeholder {
    color: black;;
}

::placeholder {
    color:black;
}
  
  textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
 
  }
  #text-12 {
line-height: 20px;
  }
  
#form_button {
    background: none;
    border: solid 2px white;
    color: white;
    cursor: pointer;
    display: block;
    font-weight: bold;
    outline: none;
    padding: 15px 30px;
    margin: 5px auto;
    text-align: center;
    border-radius: 4px;
    font-size: 18px;

  }
  
 

  #form_button:hover {
    background: rgba(242, 189, 90, 0.96);
    color: white;
  }
  
  .btn:hover {
    background-color: transparent;
    color:rgba(242, 189, 90, 0.96);
  }
  
  
  .contact-info {
    padding: 2.3rem 2.2rem;
    position: relative;
    font-family: "Poppins", sans-serif;

  }
  
  
  .text {
    color: black;
    margin: 1.5rem 0 2rem 0;
  }
  
  .information {
    display: flex;
    color:rgba(240, 157, 4, 0.96);
    margin: 0.7rem 0;
    align-items: center;
    font-size: 19px;
    
  }
  
  .icon {
    width: 20px;
   height: 25px;
   margin-right: 10px;
  }
  
  .social-media {
    padding: 2rem 0 0 0;
  }
  
  .social-media p {
    color: black;
  }
  
  .social-icons {
    display: flex;
    margin-top: 0.5rem;
    color: black;
  }
  
  .social-icons a {
    width: 45px;
    height: 45px;
    background: white;
    color: lightblue;
    text-align:center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
    text-shadow: 0 0 2px #000;
    font-size: 23px;
  }

  .social-icons a:hover {
    transform: scale(1.05);
  }
 
  .contentServices {
    display: block;
    text-align: center;
    margin-top: 120px;
    margin-bottom: -22px;
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: normal;
    padding-left: -50px;

   }


.services-text {
  color:#000;
    font-size: 23px;
    font-weight:540;
    font-family: "Poppins", sans-serif;
}
 
  .col-ser li {
    font-size: 19px;
    display: inline-block;
    color: black;
  }

  ul.col-ser>li:before {
    content: "•";
    font-size: 1em;
    position: relative;
    font-weight: bold;
    top: 1px;
    color: black;
 
  }

 footer {

    height: 40px; 
    display:inline;
    text-align: center;
   padding: 10px 10px 10px 10px;
    min-width: 130px;
   margin-bottom: -5px;
   margin-top: 20px;
}

.btn-branding-outline-foot {
    color:rgba(240, 157, 4, 0.96);
    border: 1px solid white;
    border-radius: 4px;
    font-size: 18px;
    border: solid 2px white;
    background-color: transparent;
    margin: 7px;
    padding: 10px;

    }  
 
.pfoot{
    color:rgba(240, 157, 4, 0.96);
    margin: 7px;
    }

.social-icons-foot a {
    float:right;
    margin: 7px;
    height: 45px;
    color:rgba(240, 157, 4, 0.96);
    text-align:center;
    margin-right: 0.5rem;
    transition: 0.3s;
    text-shadow: 0 0 2px #000;
    font-size: 23px;
  }

  .social-icons-foot a:hover {
    transform: scale(1.05);
  }
  
.imgFoot {
    height: 80px;
    width:150px;
    margin: 0;
   
   }

   .aboutServices {
    display: block;
    text-align: center;
    margin-top: 50px;
    line-height: 22px;
    padding: 90px;
    font-size: 20px;
    margin-bottom: 70px;
    color: #000;
  }

  
  
  @media (max-width: 900px) {
    .form {
      grid-template-columns: 1fr;
    }
  
    .text {
      margin: 1rem 0 1.5rem 0;
    }
  
    .social-media {
      padding: 1.5rem 0 0 0;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      padding: 1.5rem;
    }
  
    form,
    .contact-info {
      padding: 1.7rem 1.6rem;
    }
  
    .text,
    .information,
    .social-media p {
      font-size: 0.8rem;
    }
  
    .title {
      font-size: 1.15rem;
    }
  
    .social-icons a {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  
    .icon {
      width: 23px;
    }
  
    .input {
      padding: 0.45rem 1.2rem;
    }
  
    .btn {
      padding: 0.45rem 1.2rem;
    }
  }
  @media (max-width: 960px) {
    p { font-size: 1em; }
 
  }
 .imgSer{

text-align: center;
 }
 .row{
  padding-right: 0px;
 }